services:
  - type: web
    name: emitrr-4-in-a-row
    env: node
    plan: free
    buildCommand: cd backend && npm install && cd ../frontend && npm install && npm run build
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: REDIS_URL
        fromService:
          type: redis
          name: kafka-redis
          property: connectionString

  - type: redis
    name: kafka-redis
    plan: free
    ipAllowList: []

databases:
  - name: emitrr-postgres
    plan: free