services:
  - type: web
    name: emitrr-4-in-a-row
    runtime: go
    plan: free
    buildCommand: |
      cd frontend
      npm install
      npm run build
      cd ../backend-go
      go mod tidy
      go build -o main main.go
      cd ..
      go build -o main main.go
    startCommand: ./main
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: emitrr-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: kafka-redis
          property: connectionString

  - type: redis
    name: kafka-redis
    plan: free
    ipAllowList: []

databases:
  - name: emitrr-postgres
    plan: free