services:
  - type: web
    name: emitrr-4-in-a-row
    env: node
    plan: free
    buildCommand: npm install && cd backend && npm install && cd ../frontend && npm install && npm run build
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production

databases:
  - name: emitrr-postgres
    plan: free