services:
  - type: web
    name: emitrr-4-in-a-row
    runtime: go
    plan: free
    buildCommand: |
      cd frontend && npm install && npm run build
      cd .. && go mod tidy && go build -o main .
    startCommand: ./main
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: DATABASE_URL
        fromDatabase:
          name: emitrr-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: emitrr-analytics-redis
          property: connectionString

  - type: redis
    name: emitrr-analytics-redis
    plan: free
    ipAllowList: []

databases:
  - name: emitrr-postgres
    plan: free